
<%- include('../partials/header.ejs') %> 

<%- include('../partials/nav.ejs') %>

<div class="container">
    <form action="/comments/<%= comment.id %>?_method=PATCH" method="POST"> 
        <div class="row">
            <h1>Form</h1>
        </div>
    <div class="row">
        <div class="col-sm">
            <label for="comment">Update Comment:</label>
            <textarea  name="comment" id="comment" cols="30" rows="5"><%= comment.comment %></textarea>
        </div>
      </div>
      <button type="submit">Submit</button>

    </form>
</div>



<%- include ('../partials/footer.ejs') %> 